.table-expansion {
  overflow: auto;  
}

/* colorbox doesn't give any class hooks, have to style off ids. */
.table-expansion #cboxWrapper .table-caption {
  font-size: 12.04px;
  font-size: 0.64715rem;
}

.table-expansion .table-label {
  font-family: 'Avenir LT W01 85 Heavy',sans-serif;
  font-size: 13.8px;
  font-size: 0.8625rem;
}

.table-expansion table {
  background-color: white;
  color: rgb(0, 0, 15);
  font-size: 12.04px;
  font-size: 0.64715rem;
}

.table-expansion thead {
  background-color: whitesmoke;
  font-weight: bold;
}
.table-expansion th,
.table-expansion td {
  border: 1px solid lightgrey;
}

/* colorbox doesn't give any class hooks, have to style off ids. */
#cboxBottomCenter {
  border-top: 1px solid #dfdddd;
}

#cboxCurrent {
  left: auto;
}

#cboxNext {
  left: auto;
  right: -10px;
}

#cboxWrapper {
  border-radius: 0;  
}
