.survey-cta-wrapper {
  background-color: transparent;
  margin: 0 auto;
  position: fixed;
  top: 100%;
  transition: all 1s ease-in-out;
  width: 100%;
}

.survey-cta-wrapper--shown {
  transform: translateY(-10rem);
}

.survey-cta-wrapper--shown-by-fallback {
  bottom: 50px;
  bottom: 3.5rem;
  top: auto;
}

.survey-cta {
  background-color: #0188d1;
  box-shadow: 1px 1px 2px rgba(0, 0, 15, 0.5);
  color: #fff;
  margin: 0 auto;
  max-width: 800px;
  max-width: 50rem;
  position: relative;
  z-index: 10;
}

.survey-cta:after {
  clear: both;
  content: "";
  display: block;
}

.survey-cta__label {
  float: left;
  padding: 16px;
  padding: 1rem;
  max-width: 95%;
}

.survey-cta__link,
.survey-cta__link:link,
.survey-cta__link:visited {
  background-color: #0188d1;
  color: #fff;
  font-family: "Avenir LT W01 35 Light", sans-serif;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 16px;
  padding-left: 1rem;
}

.survey-cta__links {
  padding: 16px 16px 16px 40px;
  padding: 1rem 1rem 1rem 2.5rem;
  float: right;

}

.survey-cta__link:hover,
.survey-cta__link:active {
  text-decoration: none;
}

@media only all and (min-width:22.3125em) {

  .survey-cta-wrapper--shown {
    transform: translateY(-8.5rem);
  }

}

@media only all and (min-width:41.0625em) {

  .survey-cta-wrapper--shown {
    transform: translateY(-7rem);
  }

}

@media only all and (min-width: 50.125em) {

  .survey-cta {
    border-radius: 5px;
  }

}
