.collection-teaser {
  list-style: none;
  padding: 0;
  margin: 2em 0 0;
}

div.panel-pane div.node.collection-teaser {
  margin: 2em 0 0;
}

.collection-teaser__title {
  font-size: 1.5em;
  line-height: 1.25;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.collection-teaser__image {
  float: left;
  margin-right: 20px;
  max-width: 200px;
}
