.podcast-teaser {
  list-style: none;
  padding: 0 0 0 100px;
  margin: 1em 0;
}

div.panel-pane div.node.podcast-teaser {
  padding: 0 0 0 100px;
  margin: 1em 0;
}

.podcast-teaser--compact {
  background: url(../images/podcast-grey.svg) no-repeat left center;
  background-size: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 0;
  min-height: 30px;
  padding-left: 35px;
  vertical-align: middle;
}

div.panel-pane div.node.podcast-teaser--compact {
  margin: 1em 0;
  padding-left: 35px;
}

.podcast-teaser__title {
  font-size: 1.15625rem;
  line-height: 1.1351351351;
  margin-bottom: 5px;
}

.podcast-teaser__image {
  float: left;
  margin-left: -100px;
  width: 80px;
  height: auto;
}

@media only all and (min-width: 800px) {
  .podcast-teaser, div.panel-pane div.node.podcast-teaser {
    padding-left: 170px;
  }

  div.panel-pane div.node.podcast-teaser--compact {
    padding-left: 35px;
  }

  .podcast-teaser__image {
    margin-left: -170px;
    width: 150px;
  }
}

.podcast-teaser--compact .podcast-teaser__text {
  font-weight: bold;
  display: block;
  line-height: 20px;
}

.podcast-teaser__action {
  background-size: 20px;
  float: left;
  padding-left: 25px;
  padding-right: 1em;
}

.podcast-teaser__action--listen {
  background: url(../images/media.svg) no-repeat left center;
}

.podcast-teaser__action--download {
  background: url(../images/download.svg) no-repeat left center;
}

.podcast-teaser__action--subscribe {
  background: url(../images/rss.svg) no-repeat 2px center;
  background-size: 16px;
}

.podcast-teaser__link:link, .podcast-teaser__link:visited {
  color: inherit;
}

.podcast-teaser__link--editorial:link, .podcast-teaser__link--editorial:visited {
  color: rgb(7, 113, 214);
}

.podcast-teaser__link--insight:link, .podcast-teaser__link--insight:visited {
  color: rgb(98, 159, 67);
}

.podcast-teaser__link--feature-article:link, .podcast-teaser__link--feature-article:visited {
  color: rgb(207, 12, 78)
}

.podcast-teaser__link--research-article:link, .podcast-teaser__link--research-article:visited {
  color: rgb(39, 59, 129);
}

.podcast-teaser__link--advance:link, .podcast-teaser__link--advance:visited {
  color: rgb(39, 59, 129);
}

.podcast-teaser__link--registered-report:link, .podcast-teaser__link--registered-report:visited {
  color: rgb(39, 59, 129);
}

.podcast-teaser__link--replication-study:link, .podcast-teaser__link--replication-study:visited {
  color: rgb(39, 59, 129);
}

.podcast-teaser__link--tools-and-resources:link, .podcast-teaser__link--tools-and-resources:visited {
  color: rgb(39, 59, 129);
}

.podcast-teaser__link--short-report:link, .podcast-teaser__link--short-report:visited {
  color: rgb(39, 59, 129);
}

.podcast-teaser__link--correction:link, .podcast-teaser__link--correction:visited {
  color: rgb(39, 59, 129);
}

.podcast-teaser__link--research-advance:link, .podcast-teaser__link--research-advance:visited {
  color: rgb(39, 59, 129);
}
