/bin/
/cache/
/local.settings.php
/platform/files/
/private/
/src/elife_profile/libraries/
/src/elife_profile/modules/contrib/
/src/elife_profile/themes/contrib/
/web/
/vendor/
tests/behat/report.xml
