<?php

$databases = [
  'default' =>
    [
      'default' =>
        [
          'database' => 'database',
          'username' => 'username',
          'password' => 'password',
          'host' => 'localhost',
          'port' => '',
          'driver' => 'mysql',
          'prefix' => '',
        ],
    ],
];

$conf['elife_environment'] = ELIFE_ENVIRONMENT_DEVELOPMENT;

$conf['redis_client_host'] = '127.0.0.1';
$conf['redis_client_port'] = 6379;

$conf['imagemagick_convert'] = '/usr/bin/convert';

