.news-teaser, div.panel-pane div.node.news-teaser {
  list-style: none;
  padding: 0;
  margin: 1em 0;
}

.news-teaser__title {
  font-size: 1.15625rem;
  line-height: 1.1351351351;
  margin-bottom: 5px;
}

.news-teaser__date {
  display: block;
  font-style: italic;
  margin-bottom: 10px;
}
