default:
  suites:
    default:
      contexts:
        - FeatureContext: ~
        - ContentAlertsContext: ~
        - IsolatedDrupalContext: ~
        - IsolatedPropeopleContext: ~
        - Drupal\DrupalExtension\Context\MinkContext: ~
        - Drupal\DrupalExtension\Context\MessageContext: ~
        - Behat\WebApiExtension\Context\WebApiContext: ~
  extensions:
    eLife\IsolatedDrupalBehatExtension:
      profile: 'elife_profile'
      settings_file: '%paths.base%/../../src/settings.php'
    Zalas\Behat\NoExtension:
      imports:
        - services.yml
    SensioLabs\Behat\PageObjectExtension:
    Behat\WebApiExtension:
      base_url: 'http://127.0.0.1:80'
    Behat\MinkExtension:
      goutte: ~
      selenium2: ~
      base_url: 'http://127.0.0.1:80'
    Drupal\DrupalExtension:
      blackbox: ~
      api_driver: 'drupal'
      drush:
        root: '%paths.base%/../../web'
      region_map:
        footer: '#section-footer'
        front_matter: 'ol.frontmatter'
        front_matter_cover: 'ol.frontmatter .view-display-id-cover_article'
        front_matter_col_1: 'ol.frontmatter .view-display-id-front_matter_col_1'
        front_matter_col_2: 'ol.frontmatter .view-display-id-front_matter_col_2'
        sidebar: '.sidebar-wrapper'
        searchsortby: '.elife-searchlist-sortby'
        searchpager: '.elife-searchlist-pagerbar-pager'
        searchpagerrows: '.elife-searchlist-pagerbar-rows'
      drupal:
        drupal_root: '%paths.base%/../../web'
