default:
  suites:
    default:
      contexts:
        - FeatureContext: ~
        - ContentAlertsContext: ~
        - Behat\Drupal\Propeople\PropeopleContext: ~
        - Drupal\DrupalExtension\Context\MinkContext: ~
        - Drupal\DrupalExtension\Context\MessageContext: ~
        - Drupal\DrupalExtension\Context\DrupalContext: ~
        - Behat\WebApiExtension\Context\WebApiContext: ~
  extensions:
    SensioLabs\Behat\PageObjectExtension:
    Behat\WebApiExtension:
      base_url: 'http://127.0.0.1:80'
    Behat\MinkExtension:
      goutte: ~
      selenium2: ~
      base_url: 'http://127.0.0.1:80'
    Drupal\DrupalExtension:
      blackbox: ~
      api_driver: 'drupal'
      drush:
        alias: 'local'
      region_map:
        article_doi: '.pane-elife-article-doi'
        footer: '#section-footer'
        front_matter: 'ol.frontmatter'
        front_matter_cover: 'ol.frontmatter .view-display-id-cover_article'
        front_matter_col_1: 'ol.frontmatter .view-display-id-front_matter_col_1'
        front_matter_col_2: 'ol.frontmatter .view-display-id-front_matter_col_2'
        sidebar: '.sidebar-wrapper'
        searchsortby: '.elife-searchlist-sortby'
        searchpager: '.elife-searchlist-pagerbar-pager'
        searchpagerrows: '.elife-searchlist-pagerbar-rows'
      drupal:
        drupal_root: '%paths.base%/../../web'
